:root {
  --background-color: #0d1117;
  --color-shadow-inset: gba(0, 0, 0, 0) 0px 0px 0px 0px;
  --color-input-border: #21262d;
  --color-input-bg: #0d1117;
  --color-text-primary: #c9d1d9;
  --color-input-contrast-bg: #0104094d;

  --color-btn-hover-bg: #30363d;
  --color-btn-text: #c9d1d9;
  --color-btn-bg: #21262d;
  --color-btn-border: #30363d;
  --color-btn-hover-border: #8b949e;

  --color-btn-primary-hover-bg: #2ea043;
  --color-btn-primary-hover-border: #3fb950;
  --color-btn-primary-disabled-text: #f0f6fc80;
  --color-btn-primary-disabled-bg: #23863699;
  --color-btn-primary-disabled-border: #00000000;

  --color-state-focus-border: #388bfd;
  --color-state-focus-shadow: rgb(12, 45, 107) 0px 0px 0px 3px;

  --color-border-secondary: #21262d;
  --color-btn-primary-shadow: rgba(0, 0, 0, 0);
  --color-btn-primary-inset-shadow: rgba(0, 0, 0, 0);
  --color-btn-primary-text: white;

  --color-pr-state-merged-text: #a371f7;
  --color-pr-state-merged-bg: #bc8cff1a;
  --color-pr-state-merged-border: #bc8cff66;

  --color-danger-text: #f85149;
  --color-danger-bg: #f851491a;
  --color-danger-border: #f8514966;
}
