@import "variables.scss";
.alert {
  height: 2rem;
  line-height: 1.8rem; // line-height mis behaving
  padding: 0 0.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5em;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -ms-scroll-limit: 0 0 0 0;
}
.alert-success {
  color: var(--color-pr-state-merged-text);
  background-color: var(--color-pr-state-merged-bg);
  border: 0.1rem solid var(--color-pr-state-merged-border);
}

.alert-danger {
  color: var(--color-danger-text);
  background-color: var(--color-danger-bg);
  border: 0.1rem solid var(--color-danger-border);
}
