@import "variables.scss";

.github-link {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 1.2rem;
  color: white;
}

.App {
  padding: 12px;
}
.group > :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group > :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.RootDirGroup {
  display: flex;
}
.RootDirGroup input[name="rootDir"] {
  flex-grow: 1;
}
.FormItem {
  margin-bottom: 16px;
}
.FormItem .Label {
  margin-bottom: 6px;
  font-weight: 600;
}
.FormControl {
  height: 2rem;
}
.FormControl:focus {
  border-color: var(--color-state-focus-border);
  outline: none;
  box-shadow: var(--color-state-focus-shadow);
}
.CategorySelect {
  width: 50%;
}
.ListBox {
  position: relative;
  border: 1px solid var(--color-border-secondary);
  border-radius: 6px;
}

.ListBox > ul {
  margin: 0;
  padding: 12px;
  overflow: auto;
  height: 12rem;
}
.ListBox > ul > li {
  list-style: none;
  padding: 4px 0;
}
.ListBox button {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.SubmitButtonWrapper {
  text-align: center;
}
.SubmitButton {
  width: 200px;
}
.ErrorMessage {
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}
.btn {
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-border);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  border-radius: 6px;
  font-weight: 600;
  padding: 6px 12px;
}
.btn:hover {
  background-color: var(--color-btn-hover-bg);
  border-color: var(--color-btn-hover-border);
  transition-duration: 0.1s;
}
.btn-lg {
  height: 2.6rem;
  font-size: 1.2em;
}
.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: #238636;
  border-color: #2ea043;
  border: 1px solid #2ea043;
  border-radius: 6px;
  box-shadow: var(--color-btn-primary-shadow),
    var(--color-btn-primary-inset-shadow);
}
.btn-primary:hover {
  background-color: var(--color-btn-primary-hover-bg);
  border-color: var(--color-btn-primary-hover-border);
  transition-duration: 0.1s;
}
.btn-primary:disabled {
  color: var(--color-btn-primary-disabled-text);
  background-color: var(--color-btn-primary-disabled-bg);
  border-color: var(--color-btn-primary-disabled-border);
}
.Input {
  padding: 6px 12px;
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--color-shadow-inset);
}
.Select {
  padding: 6px 12px;
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  border-radius: 6px;
  outline: none;
}
