@import "variables.scss";

.App {
  padding: 0.5rem 1rem;
  height: 100vh;
  position: relative;

  .language-select {
    bottom: 0.5rem;
    left: 1rem;
    width: 20%;
    color: #cccccc;
    position: absolute;
  }

  .has-update {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }

  .github-link {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #cccccc;
  }
}
.group > :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group > :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.RootDirGroup {
  display: flex;
}
.RootDirGroup input[name="rootDir"] {
  flex-grow: 1;
}
.FormItem {
  margin-bottom: 1rem;
  position: relative;

  .label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    display: inline-block;
  }
}
.FormControl {
  height: 2rem;
  line-height: 1em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-input-bg);
  border: 0.1rem solid var(--color-input-border);
  border-radius: 0.5em;
  outline: none;
  box-shadow: var(--color-shadow-inset);

  &:focus {
    border-color: var(--color-state-focus-border);
    outline: none;
    box-shadow: var(--color-state-focus-shadow);
  }

  &.form-control-sm {
    height: 1.5rem;
    font-size: 0.7rem;
    line-height: 0.7rem;
    border-radius: 0.4em;
    padding: 0 0.5em;
  }
}

.CategorySelect {
  width: 50%;
}

.games-list {
  .label {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.list-actions {
  position: absolute;
  right: 0;
  top: 0;
  > * {
    margin-left: 0.5rem;
  }
}

.SubmitButtonWrapper {
  text-align: center;
}
.SubmitButton {
  width: 50vw;
}
.ErrorMessage {
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}
.btn {
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border: 0.1rem solid var(--color-btn-border);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  border-radius: 0.5em;
  font-weight: 600;
  position: relative;

  &:disabled {
    color: var(--color-text-disabled);
    cursor: not-allowed;
    border-color: transparent;
  }

  > .spinner {
    font-size: 1.3em;
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
  }
}
.btn:hover {
  background-color: var(--color-btn-hover-bg);
  border-color: var(--color-btn-hover-border);
  transition-duration: 0.1s;
}
.btn-lg {
  height: 2.4rem;
  font-size: 1rem;
}

.btn-sm {
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.7rem;
  line-height: 0.7rem;
  border-radius: 0.4em;
}
.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: #238636;
  border-color: #2ea043;
  border: 0.1rem solid #2ea043;
  box-shadow: var(--color-btn-primary-shadow), var(--color-btn-primary-inset-shadow);
}
.btn-primary:hover {
  background-color: var(--color-btn-primary-hover-bg);
  border-color: var(--color-btn-primary-hover-border);
  transition-duration: 0.1s;
}
.btn-primary:disabled {
  color: var(--color-btn-primary-disabled-text);
  background-color: var(--color-btn-primary-disabled-bg);
  border-color: var(--color-btn-primary-disabled-border);
}
.Input {
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-input-bg);
  border: 0.1rem solid var(--color-input-border);
  border-radius: 0.5em;
  outline: none;
  box-shadow: var(--color-shadow-inset);
}
.Select {
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-input-bg);
  border: 0.1rem solid var(--color-input-border);
  border-radius: 0.5em;
  outline: none;
}
